In [1]:
# Set up Python

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load casting data

df_casting = pd.read_csv('../project_movies_data/movies_casting_raw.csv', sep = ';')

In [3]:
df_casting.head()

,id,actor1_name,actor1_gender,actor2_name,actor2_gender,actor3_name,actor3_gender,actor4_name,actor4_gender,actor5_name,actor5_gender,actor_number,director_name,director_gender,director_number,producer_name,producer_number,screeplay_name,editor_name
0,2,Turo Pajala,0,Susanna Haavisto,0.0,Matti Pellonpää,2,Eetu Hilkamo,0,none,0,4,Aki Kaurismäki,0.0,1,none,0,Aki Kaurismäki,Raija Talvio
1,3,Matti Pellonpää,2,Kati Outinen,1.0,Sakari Kuosmanen,2,Esko Nikkari,2,Kylli Köngäs,0,7,Aki Kaurismäki,0.0,1,Mika Kaurismäki,1,Aki Kaurismäki,Raija Talvio
2,5,Tim Roth,2,Antonio Banderas,2.0,Jennifer Beals,1,Madonna,1,Marisa Tomei,1,24,Allison Anders,1.0,4,Lawrence Bender,1,none,Margaret Goodspeed
3,6,Emilio Estevez,2,Cuba Gooding Jr.,2.0,Denis Leary,2,Jeremy Piven,2,Peter Greene,2,15,Stephen Hopkins,2.0,1,Gene Levy,1,Lewis Colick,Tim Wellburn
4,8,none,0,none,0.0,none,0,none,0,none,0,0,Timo Novotny,0.0,1,Timo Novotny,2,Michael Glawogger,Timo Novotny

In [10]:
# Correct column for screenwriter and drop wrong column

df_casting['screenwriter_name'] = df_casting['screeplay_name']
df_casting.drop(['screeplay_name'], axis = 1, inplace = True)

In [11]:
# Convert data types

df_casting[['actor2_gender', 'director_gender']] = df_casting[['actor2_gender', 'director_gender']].fillna(0).apply(lambda x: x.astype('int64'))

In [12]:
# Lowercase names

df_casting[['actor1_name', 'actor2_name', 'actor3_name', 'actor4_name', 'actor5_name', 'director_name', 'producer_name', 'screenwriter_name', 'editor_name']] = df_casting[['actor1_name', 'actor2_name', 'actor3_name', 'actor4_name', 'actor5_name', 'director_name', 'producer_name', 'screenwriter_name', 'editor_name']].apply(lambda x: x.str.lower())

In [13]:
df_casting.head()

,id,actor1_name,actor1_gender,actor2_name,actor2_gender,actor3_name,actor3_gender,actor4_name,actor4_gender,actor5_name,actor5_gender,actor_number,director_name,director_gender,director_number,producer_name,producer_number,editor_name,screenwriter_name
0,2,turo pajala,0,susanna haavisto,0,matti pellonpää,2,eetu hilkamo,0,none,0,4,aki kaurismäki,0,1,none,0,raija talvio,aki kaurismäki
1,3,matti pellonpää,2,kati outinen,1,sakari kuosmanen,2,esko nikkari,2,kylli köngäs,0,7,aki kaurismäki,0,1,mika kaurismäki,1,raija talvio,aki kaurismäki
2,5,tim roth,2,antonio banderas,2,jennifer beals,1,madonna,1,marisa tomei,1,24,allison anders,1,4,lawrence bender,1,margaret goodspeed,none
3,6,emilio estevez,2,cuba gooding jr.,2,denis leary,2,jeremy piven,2,peter greene,2,15,stephen hopkins,2,1,gene levy,1,tim wellburn,lewis colick
4,8,none,0,none,0,none,0,none,0,none,0,0,timo novotny,0,1,timo novotny,2,timo novotny,michael glawogger

In [24]:
df_actor1 = df_casting['actor1_name'].np.where(df_casting['actor1_gender'] == 0)

AttributeError: 'Series' object has no attribute 'np'

In [15]:
# Load movie details data

df_details = pd.read_csv('../project_movies_data/movies_details_cleaned.csv', sep = ';', low_memory = False)

In [16]:
df_details.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,United States of America,...,98.0,English,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,485,2,1,1
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,Japan,...,110.0,English,Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,6.5,69,3,2,1
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,Austria,...,80.0,English,Released,A Megacities remix.,Life in Loops (A Megacities RMX),6.4,4,1,1,5

In [17]:
df_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329044 entries, 0 to 329043
Data columns (total 22 columns):
id                             329044 non-null int64
budget                         329044 non-null int64
genres                         207515 non-null object
imdb_id                        250564 non-null object
original_language              328841 non-null object
original_title                 329043 non-null object
overview                       278060 non-null object
popularity                     329044 non-null object
production_companies           329044 non-null object
production_countries           329044 non-null object
release_date                   304998 non-null object
revenue                        329044 non-null int64
runtime                        292252 non-null float64
spoken_languages               324584 non-null object
status                         327056 non-null object
tagline                        52932 non-null object
title                          329043 non-null object
vote_average                   329044 non-null float64
vote_count                     329044 non-null int64
production_companies_number    329044 non-null int64
production_countries_number    329044 non-null int64
spoken_languages_number        329044 non-null int64
dtypes: float64(2), int64(7), object(13)
memory usage: 55.2+ MB

In [18]:
df_details.drop(['production_countries', 'spoken_languages', 'status', 'tagline', 'production_companies_number', 'production_countries_number', 'spoken_languages_number'], axis = 1, inplace = True)

In [19]:
df_details.head()

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,title,vote_average,vote_count
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,21/10/1988,0,69.0,Ariel,7.1,40
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,16/10/1986,0,76.0,Shadows in Paradise,7.0,32
2,5,4000000,Crime|Comedy,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,1.698,Miramax Films,25/12/1995,4300000,98.0,Four Rooms,6.5,485
3,6,0,Action|Thriller|Crime,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",1.32287,Universal Pictures,15/10/1993,12136938,110.0,Judgment Night,6.5,69
4,8,42000,Documentary,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,0.054716,inLoops,01/01/2006,0,80.0,Life in Loops (A Megacities RMX),6.4,4